
html, body {
	height: 100%;
	background: url(../images/bg_81ab3d6.jpg) no-repeat center top;
}

.play-video {
	position: absolute;
    top: 280px;
    right: 380px;
    width: 93px;
    height: 93px;
    margin-left: -47px;
    z-index: 4;
}

.play-video::before,
.play-video::after {
	display: block;
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
}

.play-video::before {
    background-image: url(../images/index_z_9769688.png);
    background-position: -744px -819px;
    background-repeat: no-repeat;
	-webkit-animation: rotate1 2s linear infinite 300ms 0 ease;
    -moz-animation: rotate1 2s linear infinite 300ms 0 ease;
    -ms-animation: rotate1 2s linear infinite 300ms 0 ease;
    animation: rotate1 2s linear infinite 300ms 0 ease;
    -moz-animation: rotate1 2s linear infinite;
    -webkit-animation: rotate1 2s linear infinite;
    -o-animation: rotate1 2s linear infinite;
    -ms-animation: rotate1 2s linear infinite;
    animation: rotate1 2s linear infinite;
}

.play-video::after {
	position: absolute;
    left: 50%;
    top: 50%;
    width: 21px;
    height: 25px;
    margin-top: -12px;
    margin-left: -10px;
    background-image: url(../images/index_z_9769688.png);
    background-position: -2290px -107px;
    background-repeat: no-repeat;
}

@keyframes rotate1 {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.play-video:hover {
	cursor: pointer;
}

.play-video:hover::before {
	-webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    -o-animation-play-state: paused;
    animation-play-state: paused;
    background-repeat: no-repeat;
}